:root {
  --background-color-fallback: #0d1117; 
  --primary-green: #4CAF50; 
  --dark-grey-panel: #202020; 
  --light-grey-text: #E0E0E0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh; 
  overflow: hidden; 
  font-family: Arial, sans-serif; 
  color: #fff; 
  background-color: var(--background-color-fallback); 
}